
  <div class="container">
    <div class="row">
      <div class="col-12 u-mt-80">
        <h1 class="display-4 u-fw-600">
          Loto de la team panache
        </h1>
        <h3>Deuxième étape du #world team panache tour</h3>
        <h2 class="my-4">
          <span class="text-primary">12 AVRIL 2018,</span> <span class="text-red">42 rue de Rochechouart - Paris</span>
        </h2>
        <a href="" class="btn btn btn-rounded btn-primary px-md-5">
          Je veux en être
        </a>
      </div> <!-- END col-lg-12-->
      <div class="col-12 u-mt-80">
        <div class="d-flex u-ff-dosis" data-countdown="2018/04/12">
          <div class="m-3 u-w-150 u-h-150 rounded-circle bg-primary-opacity-0_2 u-flex-center">
            <span class="u-lh-0_9 text-primary u-fs-30 u-fs-md-48 u-fw-600 countdown-days"></span>
            <span class="u-fs-18">Jours</span>
          </div>
          <div class="m-3 u-w-150 u-h-150 rounded-circle bg-primary-opacity-0_2 u-flex-center">
            <span class="u-lh-0_9 text-primary u-fs-30 u-fs-md-48 u-fw-600 countdown-hours"></span>
            <span class="u-fs-18">Heures</span>
          </div>
          <div class="m-3 u-w-150 u-h-150 rounded-circle bg-primary-opacity-0_2 u-flex-center">
            <span class="u-lh-0_9 text-primary u-fs-30 u-fs-md-48 u-fw-600 countdown-minutes"></span>
            <span class="u-fs-18">Minutes</span>
          </div>
          <div class="m-3 u-w-150 u-h-150 rounded-circle bg-primary-opacity-0_2 u-flex-center">
            <span class="u-lh-0_9 text-primary u-fs-30 u-fs-md-48 u-fw-600 countdown-seconds"></span>
            <span class="u-fs-18">Secondes</span>
          </div>
        </div>
      </div> <!-- END col-12 -->
    </div> <!-- END row-->
  </div> <!-- END container-->








<section id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="card box-shadow-v2 bg-white u-of-hidden text-center">
          <h2 class="bg-primary m-0 py-3 text-white">Book Your Seat </h2>
          <form action="" method="POST" class="p-4 p-md-5">

          <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-User text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Your fullname" required>
          </div>

          <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="email" class="form-control border-0 p-3" placeholder="Your email" required>
          </div>
          <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Phone text-primary"></span>
            </div>
            <input type="tel" class="form-control border-0 p-3" placeholder="Phone" required>
          </div>

          <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Dollar text-primary"></span>
            </div>
            <select class="form-control border-0 p-3 u-h-auto">
              <option>$19</option>
              <option>$29</option>
              <option>$99</option>
              <option>$199</option>
            </select>
          </div>
            <button class="btn btn-primary btn-rounded px-5">
              Buy Now
            </button>
          </form>
         </div>
      </div> <!-- END col-md-5-->
      <div class="col-md-7 col-lg-6 ml-auto mt-5">
        <h2>About The Conference 2018</h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
        <p class="u-fs-18">
          Velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum nec.
        </p>
        <p>
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
        </p>
        <a href="" class="btn btn-red btn-rounded mt-4" data-scrollto="schedule">View Schedule</a>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->




<hr class="m-0">





<section>
  <div class="container">
   <div class="row">
      <div class="col-md-6 mb-4">
        <h2 class="mb-4">
          Why Blofu Conference 2018?
        </h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
        <p>
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
        </p>
        <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
          <li><i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
          <li><i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
          <li><i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
       </ul>
      </div> <!-- END col-md-6 -->
      <div class="col-md-6 mb-4">
        <h2 class="mb-4">
          Who Should Attend?
        </h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
        <p>
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere.
        </p>
        <p>
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
        </p>
      </div> <!-- END col-md-6 -->
   </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END section-->





<footer class="u-py-100" style="
background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <div class="container text-center">
    <p class="my-4 text-center">
        Created by La team panache
    </p>
  </div>
</footer> <!-- END footer-->





    <div class="scroll-top bg-white box-shadow-v1">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <script src="theme/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="theme/assets/vendor/popper.js/dist/popper.min.js"></script>
    <script src="theme/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="theme/assets/vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="theme/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="theme/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="theme/assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
    <script src="theme/assets/vendor/parallax.js/parallax.min.js"></script>
    <script src="theme/assets/vendor/wow/dist/wow.min.js"></script>
    <script src="theme/assets/vendor/vide/dist/jquery.vide.min.js"></script>
    <script src="theme/assets/vendor/typed.js/lib/typed.min.js"></script>
    <script src="theme/assets/vendor/appear-master/dist/appear.min.js"></script>
    <script src="theme/assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <script src="theme/assets/js/fury.js"></script>


